<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0">
    <div class="navbar-brand col-sm-4 col-md-3 mr-0"><input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search"></div>
  
    <ul class="nav justify-content-end menu">
        <li class="nav-item">
          <a class="nav-link active" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Displays</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Support</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Settings</a>
        </li>
      </ul>
  </nav>
  <div class="row names position-fixed">
      <div class="col-6 col-md-3"></div>
      <div class="col-6 col-md-3">
        <div class="line-middle"></div>
        <h1>Payment Declined</h1>
        <h4>Attempt 1</h4>
      </div>
      <div class="col-6 col-md-3">
        <h1>{{namelead}}</h1>
      </div>
      <div class="col-6 col-md-3">
        <button type="button" class="btn-lead ">Next Lead</button>
      </div>
  </div>

  <div class="row actions position-fixed">
      <div class="col-3">
         <div class="form-group form-duration">
            <label for="callid">Caller ID</label>
            <input type="text" class="form-control" id="callid" placeholder="801-123-6543">
            <div class="line-middle-action1"></div>
         </div>
         
         <div class="form-group form-duration">
            <label for="duration">Duration</label>
            <input type="text" class="form-control" id="duration" placeholder="1:36:43">
         </div>
         <div class="line-middle-action2"></div>
      </div>
      <div class="col-5">
          <div class="col-2 icons"><button><img class="img-responsive" src="assets/keypad.png" alt="keypad"><label class="label">Keypad</label></button></div>
          <div class="col-2 icons"><button><img class="img-responsive" src="assets/drop.png" alt="Drop Mesagge"><label class="label">Drop Mesagge</label></button></div>
          <div class="col-2 icons"><button><img class="img-responsive" src="assets/record.png" alt="Record"><label class="label">Record</label></button></div>
          <div class="col-2 icons"><button><img class="img-responsive" src="assets/hold.png" alt="Hold"><label class="label">Hold</label></button></div>
          <div class="col-2 icons"><button><img class="img-responsive" src="assets/disconnect.png" alt="Disconnect"><label class="label">Disconnect</label></button></div>
          <div class="line-middle-action3"></div>
        </div>
        <div class="col-2">
          <div class="form-group">
            <select class="form-control" id="sel1">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
          </select>
          </div>
    
        </div>
      <div class="col-2 action-save">
        <div class="line-middle-action4"></div>
        <div class="float-right">
        <button type="submit" class="btn savelead"><img class="img-responsive" src="assets/save.png" ></button>
        <label for="save">Save</label>
        </div>
      </div>
    </div>

<div id="wrapper">
<!-- Sidebar -->
<ul class="sidebar navbar-nav">
<li class="nav-item active">
    <a class="nav-link" href="">
      <img src="assets/phone.png" alt="phone">
      <span>Phone Numbers</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="">
      <img src="assets/history.png" alt="history">
      <span>History</span>
    </a>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link" href="">
      <img src="assets/send.png" alt="send">
      <span>Send Emails</span>
    </a>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link" href="">
      <img src="assets/+info.png" alt="info">
      <span>Additional Information</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="">
      <img src="assets/script.png" alt="script">
      <span>Script</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="">
      <img src="assets/headset.png" alt="headset">
      <span>Headset</span>
    </a>
  </li>
</ul>


<!-- Sidebar -->
<div class="sidebar sidebar-right navbar-nav">
  
 <!--  <div id="cont_1a750452f28bd6b623b415ace4e5ace4" style="width: 175px; color: rgb(134, 134, 134); background-color: rgb(255, 255, 255); border: 1px solid rgb(214, 214, 214); margin: 0px auto; font-family: Roboto;"><script type="text/javascript" async="" src="https://www.meteored.mx/wid_loader/1a750452f28bd6b623b415ace4e5ace4"></script><iframe id="1a750452f28bd6b623b415ace4e5ace4" src="https://www.meteored.mx/getwid/1a750452f28bd6b623b415ace4e5ace4" frameborder="0" scrolling="no" name="flipe" style="width: 175px; color: rgb(134, 134, 134); height: 203px;"></iframe></div>
    <div id="accordion">
<div class="card">
  <div class="card-header" id="headingOne">
    <h5 class="mb-0">
      <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        Goal Progress
      </button>
    </h5>
  </div>

  <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
    <div class="card-body">
      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
    </div>
  </div>
</div>
<div class="card">
  <div class="card-header" id="headingTwo">
    <h5 class="mb-0">
      <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        Dialing Stats
      </button>
    </h5>
  </div>
  <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
    <div class="card-body">
      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
    </div>
  </div>
</div>
<div class="card">
  <div class="card-header" id="headingThree">
    <h5 class="mb-0">
      <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        Callbacks
      </button>
    </h5>
  </div>
  <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
    <div class="card-body">
      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
    </div>
  </div>
</div>
  <div class="card">
  <div class="card-header" id="headingFour">
    <h5 class="mb-0">
      <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
        Available
      </button>
    </h5>
  </div>
  <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
    <div class="card-body">
      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
    </div>
  </div>
</div>
</div> -->
  </div>
  <div id="content-wrapper">

    <div class="container-fluid">

      <!-- Breadcrumbs
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Overview</li>
      </ol>
      -->

  <div class="col-lg-12">
            
      <ngb-alert  [type]="type" id="message" [dismissible]="false">
          {{message}}
      </ngb-alert>

    <table class="table table-striped table-bordered">
      <thead>
          <tr>
            <th>Actions</th>
            <th>Description</th>
            <th>Phone Number</th>
            <th>Dials</th>
            <th>To call</th>
            
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let field of fieldArray; let i = index">
              <td>
                  <button class="btn btn-default actions"  type="button" (click)="deleteFieldValue(i)"><i class="material-icons deletephone">
                    remove_circle_outline
                    </i></button>
                  <button class="btn btn-default hideedit yeshave-{{field.id}}" type="button" (click)="editFieldValue(i)"><i class="material-icons editphone">
                    edit
                    </i></button>
              </td>
              <td>
                  <input [(ngModel)]="field.name" (click)="detectedit(i, field.id)" class="form-control" type="text" name="{{field.name}}" />
              </td>
              <td>
                  <input [(ngModel)]="field.phone_number" (click)="detectedit(i,field.id)"  type='text' prefix="+ " mask="(000) 000 0000" class="form-control" name="{{field.PhoneNumber}}" />
              </td>
              <td>
                <div class="text-center"> 0 </div>
                  <!-- <input [(ngModel)]="field.Dials" disabled class="form-control" type="text" name="{{field.Dials}}" />-->
              </td>
              <td><button type="button" class="btn-table initiatecall">Initiate Call</button> </td>
          </tr>
          <tr>
              <td>
                  <button class="btn btn-default addphone" type="button" (click)="addFieldValue()"><i class="material-icons">
                    add_circle_outline
                    </i></button>
              </td>
              <td>
                  <input class="form-control" type="text" id="newAttributeDescription" [(ngModel)]="newAttribute.name" name="newAttributeDescription" />
              </td>
              <td>
                  <input class="form-control"  type='text' prefix="+ " mask="(000) 000 0000" id="newAttributePhoneNumber" [(ngModel)]="newAttribute.phone_number" name="newAttributePhoneNumber" />
              </td>
              <td>
                  <!-- <input class="form-control" disabled type="text" id="newAttributeDials" [(ngModel)]="newAttribute.Dials" name="newAttributeDials" />-->
              </td>
              <td><button type="button" class="btn-table initiatecall">Initiate Call</button> </td>
          </tr>
      </tbody>
  </table>




  </div>
     
    </div>
    <!-- /.container-fluid -->



  </div>

</div>

    <!-- Sticky Footer -->
    <footer class="sticky-footer center-footer">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright © Your Website 2019</span>
          </div>
        </div>
      </footer>

